@import url('fonts/fonts.css');

html {
    --scrollbarBG: #333;
    --thumbBG: #666;
  }
::-webkit-scrollbar {
    width: 11px;
    background: var(--scrollbarBG);
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }




body {
    width: 96vw;
    margin: unset;
    background-color: #222;
    color: ghostwhite;
    padding: 0 1vw 1vw 1vw;
    font-family: 'Patrick Hand SC';
    font-size: 16px;
}

h1 {
    font-family: inherit;
    display:inline-block;
}

.table-container {
    overflow-x: scroll;
    width: 100%;
    display:flex;
}



table {
    background: #666;
    border-collapse: collapse;
    width: max-content;

}

table thead {
    background: #444;
    font-size: 18px;
}

th {
    -webkit-user-select: none;  
    -moz-user-select: none;     
    user-select: none; 
}

th, td {
    border-left: 1px solid gray;
    min-width: 12vw;
    position:relative;
    padding: 0;
    height: 16px
}

.spells {
    background: #666
}

.effect {
    border : 1px solid #444;
    padding: 0;
    font-size : 10px;
    color: black;
    font-variant: small-caps;
    display: flex;
    height: 85%;
}

.effect button {
    float: right;
    font-size: 7px;
    border: 1px outset gray;
    padding: 0 3px;
}

.effect input {
    font-size: inherit;
    padding: 0px;
    background-color:inherit;
    color: ghostwhite;
    border: none;
    font-variant: small-caps;
    height:unset;
    box-sizing:border-box;
}

.effect input::placeholder {
    color: #aaa
}

.effect input:focus {
    outline:none;
}

.effect:hover {
    filter: brightness(110%)
}

.effect input:not(:first-child) {
	border-left: 1px solid transparent;
}

.effect:hover input:not(:first-child) {
    border-left: 1px solid #444
}

.effect input[type='color'] {
    flex: 0 0 14px;
    border:none;
    padding: 0;
    margin: 0;
}

.effect input[type='text'] {
    flex: 1 0 auto;
    width: 0;
    padding: 0 2px;
}

.effect input[type='number'] {
    flex: 0 0 auto;
    width: 20px;
    padding-left: 3px;
    -moz-appearance: textfield;
    appearance: textfield;
}

.effect:hover  input[type='number']{
    -moz-appearance: initial;
    appearance: initial;
    width:unset;
}

.effect input:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-inner-spin-button {
    border: 1px solid black;
}

.effect ::-webkit-color-swatch-wrapper, .effect ::-webkit-color-swatch {
    padding:0;
    border:none;
}

.effect ::-moz-color-swatch {
    border-color:transparent;
    border-width: 0;

}

.add-action {
    background: #808080;
    border: 1px dashed rgb(243, 243, 243);
    text-align: center;
    font-size: 10px;
    height: 85%;
}

.column-control {
    display: inline-block;
    position: absolute;
    right: -1em;
    width:2em;
    text-align: center;
}

.column-control div {
    background: #444;
    display:inline-block;
    width:1em;
    visibility:hidden;
    cursor: pointer;
}

table thead:hover .column-control div, .column-control:hover div {
    visibility: visible
}

#savedNotice {
    font-size: .9em;
}



footer {
    position: fixed;
    width:100vw;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, #222 40%)
}

footer ul  {
    display:flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    font-family:'helvetica';
    font-size: 10px
}

footer a, footer a:visited {
    color: ghostwhite
}



/* TOOLBAR */

 .toolbar {
    display:flex;
    justify-content: center;
}

 /* Tooltip container */

.tool {
    position: relative;
    cursor: pointer;
    padding: 2px 10px;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    user-select: none;  
}

.tool:hover {
    background: #333;
}

/* Tooltip text */
.tool .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -65px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.7s ease-in;
}

/* Tooltip arrow */
.tool .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tool:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} 

@media screen and (max-width: 600px) {
    th, td {
        height: 42px;
    }
}