@import url('fonts/fonts.css');

html {
	--scrollbarBG: #333;
	--thumbBG: #666;
	height: 100%;
	display: flex;
	justify-content: center;
}

::-webkit-scrollbar {
    width: 11px;
    background: var(--scrollbarBG);
  }

::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}





body {
	height: 100%;
	width: 96vw;
	margin: unset;
	background-color: #222;
	color: ghostwhite;
	padding: 0 1vw 5vw 1vw;
	font-family: 'Patrick Hand SC';
	font-size: 16px;
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
	overflow-x: hidden;
}

h1 {
    font-family: inherit;
    display:inline-block;
}

h3 {
	display: inline-block;
	margin-bottom: 0;
}

.add-event-button {
    background: #444;
    display:flex;
    padding: 3px;
    height: 30px;
}

.add-event-button .ui-button {
    flex:1 ;

}

.dialog.new-event span {
    flex: 1 0 100%;
}

.dialog.new-event .ui-button {
    flex: 1;
    height: 30px;
}

.editable-div.plot-text {
	background-color: #555;
	margin: 20px;
	color: ghostwhite;
	padding: 5px 200px;
	line-height: 1.7em;
    flex: 1;
}

.encounter, .plot {
    border: 1px solid #444;
    border-bottom-width: 5px;
    border-bottom-style: ridge;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
    position:relative;
}

.encounter-title-bar, .plot-title-bar {
    background: #444;
    flex: 1 1 100%;
    padding: 5px;
    display:flex;
    justify-content:space-between;
    gap: 5px;
}

.title-bar {
    height:1.8em;
}

.title-bar input[type='text'] {
    border-bottom: 1px solid #777;
    font-family: 'Patrick Hand SC';
    font-size: 24px
}

.operational-buttons {
    display: flex;
    gap: 5px;
  }

.encounter .add-character {
    flex: 1 0 60%;
    background: #444;
    display:flex;
    justify-content: center;
    padding: 3px;
    opacity: .2;
    margin: 10px 25px;
    height: 30px;
}

.add-character:hover {
    transition: all .5s ;
    opacity:1;
}

.add-character .ui-button {
    flex: 1;
}

.ui-button {
    border: 1px solid #666;
    width: 1.5em;
    height: 100%;
    aspect-ratio: 1 / 1;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: helvetica;
    font-weight: 900;
    font-size: 1.2em;
    color: #777;
    user-select: none;
    box-sizing: border-box;
}

.ui-button:hover {
    color: #aaa;
    border-color: #aaa;
}

.ui-button.toggled {
    background-color: ghostwhite;
}

.color-overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(102, 0, 0, 0.19);
    display: grid;
    place-content: center;
}

.dialog {
	background: #444;
	padding: 10px;
	border: 1px solid ghostwhite;
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 5px;
    box-shadow: 3px 5px 0px black
}



.dialog span {
    flex: 1 0 100%;
}

.dialog .ui-button {
    font-size: inherit;
    height: unset;
    padding: 0 10px;
}

.character {
    padding: 25px;
    flex: 1 1 auto;
    width: 80%;
    position:relative;
}

.character-title-bar {
    display:flex;
    justify-content:flex-end;
    gap: 5px;
}

.character-name-input {
    flex: 1;
}

.table-container {
    flex: 1 0 auto;
    overflow-x: scroll;
    width: 100%;
    display:flex;
    transition:all 1s ease;
}



table {
    background: #666;
    border-collapse: collapse;
    width: max-content;
    margin: 10px 0 0 0;
}

table thead {
    background: #0008;
    font-size: 18px;
}

th {
    -webkit-user-select: none;  
    -moz-user-select: none;     
    user-select: none; 
}

th, td {
    min-width: 12vw;
    max-width: 12vw;
    position:relative;
    padding: 1px;
    height: 16px
}

th:not(:first-of-type), td:not(:first-of-type) {
    border-left: 1px solid gray;
}

.spells {
    background: #666
}

.action {
    border : 1px solid #444;
    padding: 0;
    font-size : 10px;
    color: black;
    font-variant: small-caps;
    display: flex;
    height: 13px;
    z-index: 200;
    position:relative;
    box-shadow: black 0px 1px 2px
}

.action * {
    visibility:inherit !important;
}

.action.emit {
    background-color: rgb(90, 24, 24)
}

.action.absorb {
    background-color: rgb(56, 90, 24)
}

.action.game {
    background-color: rgb(24, 77, 90)
}

.action.misc {
    background-color: rgb(66, 66, 66)
}

.action button {
    float: right;
    font-size: 7px;
    border: 1px outset gray;
    padding: 0 3px;
}

input {
    font-size: inherit;
    padding: 0px;
    background-color:inherit;
    color: ghostwhite;
    border: none;
    font-variant: small-caps;
    height:unset;
    box-sizing:border-box;
}

.action input {
    text-align:right;
}

input::placeholder {
    color: #fff;
}

.action input:focus {
    outline:none;
}

.action:hover {
    filter: brightness(110%)
}

/* .action input:not(:first-child) {
	border-left: 1px solid transparent;
}

.action:hover > *:not(:first-child) {
    border-left: 1px solid #444
} */

.action .resizer {
    background: linear-gradient(to right, #FFF0, #FFF5) ;
    mix-blend-mode: overlay;
    width: 7px;
    cursor: col-resize;
}

input[type='color'] {
    flex: 0 0 auto;
    width:14px;
    border:none;
    padding: 0;
    margin: 0;
}

.ui-button input[type='color']{
    width: 100%;
    height: 100%;
}

.action input[type='text'] {
    flex: 1 0 auto;
    width: 0;
    padding: 0 2px;
}

.action .turn-duration {
    display:flex;
}

.action input[type='number'] {
    flex: 0 0 auto;
    width: 20px;
    padding: 0 5px;
    -moz-appearance: textfield;
    appearance: textfield;
}

.action:hover .number-spinner{
    opacity:1;
    transition: all .8s ease-in-out;
}

.action input:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-inner-spin-button {
    border: 1px solid black;
}

::-webkit-color-swatch-wrapper, .action ::-webkit-color-swatch {
    padding:0;
    border:none;
}

::-moz-color-swatch {
    border-color:transparent;
    border: none;
}

.number-spinner {
    width: 10px;
    height: 100%;
    background: #fff5;
    margin-left: 1px;
    opacity:0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
}

.action-detail {
    position:absolute;
    background-color: gray;
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    font-size: 11px
}

.action-detail h1 {
	flex: 1 1 100%;
	margin: 0;
	font-size: 1.5em;
}

.action-detail textarea.description {
	all: unset;
}

.add-action {
    background: #0004;
    border: 1px dashed rgb(243, 243, 243);
    text-align: center;
    font-size: 10px;
    height: 85%;
}

.column-control {
    display: inline-block;
    position: absolute;
    right: -1em;
    width:2em;
    text-align: center;
}

.column-control div {
    background: #444;
    display:inline-block;
    width:1em;
    visibility:hidden;
    cursor: pointer;
}

table thead:hover .column-control div, .column-control:hover div {
    visibility: visible
}

#savedNotice {
    font-size: .9em;
}



footer {
    position:sticky;
    top:100vh;
    margin-top: 4em;
    padding-bottom:2em;
    width:100vw;
    background: linear-gradient(to bottom, transparent 5%, #222 40%)
}

footer ul {
	display: flex;
	justify-content: center;
	list-style: none;
	gap: 30px;
	font-family: 'helvetica';
	font-size: 10px;
	flex-wrap: wrap;
	padding: 0 15px;
}

footer a, footer a:visited {
    color: ghostwhite
}

footer ul li label {
    text-decoration: underline;
    cursor: pointer;
}



/* TOOLBAR */

 .toolbar {
    display:flex;
    justify-content: center;
}

 /* Tooltip container */

.tool {
    position: relative;
    cursor: pointer;
    padding: 2px 10px;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    user-select: none;  
}

.tool:hover {
    background: #333;
}

/* Tooltip text */
.tool .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -65px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.7s ease-in;
}

/* Tooltip arrow */
.tool .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tool:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} 

@media screen and (max-width: 600px) {
    .character {
        padding:10px;
    }

    th, td {
        height: 42px;
        min-width:45vw;
    }

    input[type="text"],
    input[type="number"],
    input[type="color"] {
        font-size: 16px;
    }
    
    .action input[type="number"], .action:hover input[type="number"], .action input[type="color"], .action:hover input[type="color"] {
        width: 2em;
        text-align:center;
    }

    
}

.radial-menu {
    position:absolute;
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 2px 2px; 
    width: 100px;
    z-index: 500;
    font-size: 11px;
    text-align: center;
}

.radial-item {
    border: 1px solid goldenrod;
    background-color: rgba(122, 90, 8, .8);
}

.radial-item:hover {
    background-color: rgba(165, 118, 0, 0.8)
}

.detail-area {
    background: #444;
}

.action .fas, .action .far {
    color: #FFF5;
	align-self: center;
	margin: 0 2px;
    opacity: 0;
}

.action:hover .fas, .action:hover .far {
    opacity:1;
}

.grip {
	cursor: move;
}

.clone {
    cursor: copy;
}