body {
    width: 100%;
    margin: unset;
}

.table-container {
    overflow-x: scroll;
    width: 98vw;
    margin : 0 1vw;
}

.spells {
    background: #ddd
}

.effect {
    border : 1px solid gray;
    padding: 0;
    font-size : 10px;
    color: black;
    font-variant: small-caps;
    display: flex;
}

.effect button {
    float: right;
    font-size: 7px;
    border: 1px outset gray;
    padding: 0 3px;
}

.effect input {
    font-size: inherit;
    padding: 0px;
    background: unset;
    border: none;
    font-variant: small-caps;
    height:unset;
}

.effect input[type='color'] {
    flex: 0 0 14px;
    border:none
}

.effect input[type='text'] {
    flex: 1 0 auto;
    width: 40px;
    padding: 0 2px;
}

.effect input[type='number'] {
    flex: 0 0 auto;
    width: 40px;
    text-align:right;
}



.effect ::-moz-color-swatch, .effect ::-webkit-color-swatch {
    border-color:transparent
}

.add-action {
    background: rgb(243, 243, 243);
    border: 1px dashed gray;
    text-align: center;
    font-size: 10px;
}



table {
    background: lightgray;
    border-collapse: collapse;
    width: max-content;
}

th, td {
    border-left: 1px solid gray;
    width: 8vw;
}


